Binaries
DerivedDataCache
Intermediate
Android_ETC1
Saved
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
**/node_modules/**
WindowsNoEditor/**
**/WindowsNoEditor/**
Linux/**
Build/LinuxNoEditor/**
Build/**
IOS/**
UWP64/**
UWP32/**
HTML5/**
